* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cinza-clarissimo);
    font-family: var(--roboto);
}

.container {
    background-color: var(--branco);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    height: 532px; 
    max-width: 752px;
    width: 90%;

    border-radius: 4px;
    margin: 68px auto;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 8px;
    padding: 32px;
    box-sizing: border-box;

}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1 {
    font-family: var(--montserrat);
    font-size: 32px;
    /* margin-top: 40px; */
    
}

.input_imagem {
        cursor: pointer;
        position: absolute;
        padding: 2rem;
        opacity: 0;
}

.txtFoto {
    z-index: 2;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.foto {
    background-image: url('../img/gatinho.png');
    background-size: 150px;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 135px;
    height: 145px;
    border-radius: 8px;

    cursor:pointer;
    position: relative;
}

.inform {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}

.nome {
    position: absolute;

    width: 100%;
    height: 56px;

    color: var(--cinza-escuro);
    font-size: 16px;

    border-radius: 4px;
    box-sizing: border-box;

    padding: 16px;
    font-family: 'Roboto', sans-serif;

    box-shadow: 2px 2px 5px var(--cinza-claro);

    z-index: 2; 
}

.input_nome {
    position: relative;
    box-sizing: content-box;
    padding: 24px;

    width: 100%;
    height: 10px;

    border: none;
}
.gatinho{
    background-image: url(../img/gatinho.png);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.btn {
    display: flex;
    align-items: center;

    width: 100%;

    margin-top: 16px;
    gap: 16px;
}

.cancela , .salva {
    width: 324px;
    height: 44px;

    font-size: 16px;
    font-weight: 400;
    font-family: var(--roboto);

    /* margin-bottom: 40px; */
}

.cancela {
    color: var(--rosa);
    border: solid 2px var(--rosa);

    /* margin-right: 24px; */
    border-radius: 4px;

    background-color: var(--branco);
    
}

.cancela:active {
    background-color: var(--rosa);
    color: var(--branco);
}

.botao-salvar {
    width: 324px;
    height: 44px;

    font-size: 16px;
    font-weight: 400;
    font-family: var(--roboto);

    margin-bottom: 40px;

    background-color: var(--rosa);
    color: var(--branco);

    border: none;
    border-radius: 4px;
}

.botao-salvar:active {
    background-color: var(--cinza-escuro);
}

.salva {
    background-color: var(--cinza-medio);
    color: var(--branco);
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 750px){
   .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .cancela, .salva {
    margin-bottom: 0;
   }

    .botao-salvar {
    margin-bottom: 0;
}
}

@media screen and (max-width: 492px){
    .input_nome {
        width: 350px;
    }

    .nome {
        width: 350px;
    }
}