.titulo-lista {
  font-size: 42px;
  background-color: var(--branco);
  margin-bottom: 38px;
}

main {
  /* position: absolute;
  left: 548px;
  right: 548px;
  top: 148px;
  bottom: 301px; */
  width: 852px;
  height: auto;
  padding-bottom: 36px;
  min-height: 200px;
  margin-top: 78px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  background: var(--branco);
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
}

/* Estilos para a lista */
#item-list {
    list-style: none;
    padding: 0;
    width: 90%;
    background-color: var(--branco);
  }
  
  /* Estilos para cada item */
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 8px;
    height: 88px;
  }
  
  .item img {
    width: 62px;
    height: 62px;
    object-fit: cover;
    margin-right: 16px;
    background-color: var(--branco);
    border-radius: 50%;
    margin-left: 16px;
  }
  
  .item h2 {
    margin: 0;
    font-family: var(--montsserrat);
    background-color: var(--branco);
  }
  
  .item button {
    margin-left: auto;
    margin-right: 16px;
    width: 133px;
    height: 44px;
    border: 2px solid #EB339B;
    border-radius: 4px;
    font-family: var(--roboto);
    color: var(--rosa);
    font-size: 16px;
    background-color: var(--branco);
    cursor: pointer;
  }
  