body {
    background-color: var(--cinza-clarissimo);
    font-family: var(--montsserrat);

}

.container {
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 752px;
    height: 756px;

    margin: 68px auto;
    
    box-sizing: border-box;
    padding: 44px;

    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 8px;

}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 16px;
}

.cabecalho figure {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 32px;
    font-weight: 700;
}

.cabecalho p {
    font-size: 18px;
    font-weight: 600;
    color: var(--cinza-escuro);
}

.voltar {
    border: none;
    background-color: var(--branco);
}

hr {
    background-color: var(--cinza-clarissimo);
    border: none;
    height: 2px;
}

.lancaNotas {
    width: 100%;
}

.notas {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 16px 0;
    gap: 120px;
}

.notas h3 {
    font-size: 24px;
}

.notas p {
    font-size: 16px;
}

.txt {
    margin-top: 4px;
}


.desativado, 
.desativado1,
.desativado2,
.desativado3,
.desativado4,
.desativado5 {
    border: none;
    background-color: var(--branco);
    width: 33px;
    height: 29px;
    background-image: url(../img/Vector.svg);
    cursor: pointer;
}

.ativo,
.ativo1, 
.ativo2,
.ativo3,
.ativo4,
.ativo5 {
    border: none;
    background-color: var(--branco);
    width: 33px;
    height: 29px;
    background-image: url(../img/Vector2.svg);
    cursor: pointer;
    
}

.btn {
    display: flex;
    align-items: center;

    width: 100%;

    margin-top: 24px;
}

.imprime , .salva {
    width: 324px;
    height: 44px;

    font-size: 16px;
    font-weight: 400;
    font-family: var(--roboto);

    margin-bottom: 40px;
}

.imprime {
    color: var(--rosa);
    border: solid 2px var(--rosa);

    margin-right: 24px;
    border-radius: 4px;

    background-color: var(--branco);
}

.imprime:active {
    background-color: var(--rosa);
    color: var(--branco);
}

.botao-salvar {
    width: 324px;
    height: 44px;

    font-size: 16px;
    font-weight: 400;
    font-family: var(--roboto);

    margin-bottom: 40px;

    background-color: var(--rosa);
    color: var(--branco);

    border: none;
    border-radius: 4px;
}

.botao-salvar:active {
    background-color: var(--cinza-escuro);
}

.salva {
    background-color: var(--cinza-medio);
    color: var(--branco);
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 750px) {
    .container {
        width: 552px;
        height: 556px;
        
        box-sizing: none;
        padding: 24px;
    }

    .cabecalho {
        width: 480px;
    }

    .cabecalho figure {
        gap: 8px;
        font-size: 24px;
    }
    
    .cabecalho p {
        font-size: 14px;
    }

    .lancaNotas {
        width: 480px;   
    }

    .notas {
        margin: 8px 0;
        gap: 8px;
    }
    
    .notas h3 {
        font-size:18px;
    }
    
    .notas p {
        font-size: 12px;
    }
    
    .txt {
        margin-top: 4px;
    }

    .btn {
        margin-top: 16px;
    }
    
    .imprime , .salva {
        width: 230px;
        margin-bottom: 0;
    }

    .botao-salvar {
        width: 230px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 640px){
    .container {
        width: 100%;
        height: 100%;
        
        box-sizing: none;
        padding: 16px auto;
    }

    .cabecalho {
        width: 350px;
        margin-bottom: 16px;
        margin-top: 8px;
    }

    .cabecalho figure {
        gap: 6px;
        font-size: 24px;
        margin-left: 16px;
    }

    .cabecalho button img {
        width: 32px;
        margin-left: 24px;
    }

    .cabecalho figure img {
        width: 48px;
    }
    
    .cabecalho p {
        font-size: 16px;
    }

    .lancaNotas {
        width: 380px;   
    }

    .notas {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 16px 0;
        gap: 24px;
    }
    
    .notas h3 {
        font-size:18px;
    }
    
    .notas p {
        font-size: 14px;
    }
    
    .txt {
        margin-top: 2px;
    }

    .btn {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;
        margin-bottom: 16px;
    }
    
    .imprime {
        margin-right: 0;
    }

    .imprime , .salva {
        width: 300px;
        margin-bottom: 0;
    }

    .botao-salvar {
        width: 300px;
        margin-bottom: 0;
    }
}