* {
    background-color: var(--cinza-clarissimo);
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

.header,
.header__logo,
.header__logo a,
.header__nav-list,
.header__nav-list--empty, 
.header__nav-btn--empty {
    background-color: var(--branco);
}

.header {
    padding: 1.25rem 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav-list {
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.header__nav-list li {  
    border-radius: .25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
 
.header__nav-btn--empty { 
   color: var(--rosa);
}

.header__nav-list--empty {
    border: 2px solid var(--rosa);   
}
 
.header__nav-btn--full {
    background-color: var(--rosa);
    color: var(--branco);
    text-align: center;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-btn--empty, .header__nav-btn--full {
    font-family: var(--roboto);
    font-size: 1rem;
    padding: .625rem 1.25rem;
    border-radius: .25rem; 
}

h1 {
    font-family: var(--montsserrat);
    color: var(--preto);
    font-size: 64px;
    margin: 64px 0 20px 0;
}

p {
    font-family: var(--roboto);
    color: var(--cinza-escuro);
    font-size: 48px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-content {
    margin: 0 20px 0 10px;
}

@media screen and (max-width: 750px){
    .header__nav-list {
        gap: 1rem;
    }
    
    .main-content {
        margin: 0 10px 0 10px;
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 38px;
    }
}

@media screen and (max-width: 492px){
    .header__nav-list {
        padding-top: 1rem;
    }

    .header__nav-btn--full {
        width: 10.4181rem;
        text-align: center;
    }

    .main-content {
        margin: 0 10px 0 10px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 30px;
    }
}